input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}
input[type='time']::-webkit-datetime-edit-hour-field:focus {
  background-color: #6b7280;
  border-radius: 5px;
}
input[type='time']::-webkit-datetime-edit-minute-field:focus {
  background-color: #6b7280;
  border-radius: 5px;
}
input[type='time']::-webkit-datetime-edit-ampm-field:focus {
  background-color: #6b7280;
  border-radius: 5px;
}
